* {
  margin: 0;
  padding: 0;
}
html,
body {
  margin: auto;
  width: 1440px;
  height: 100vh;
}
.container {
  height: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
.container-item {
  text-align: center;
  font-family: sans-serif;
  font-size: 20px;
  padding: 20px;
  display: flex;
  justify-content: center;
}
.header {
  height: 60px;
  background: linear-gradient(50deg, rgb(5, 122, 200), rgb(204, 255, 255));
  border: 1px solid turquoise;
}
.nav {
  display: flex;
  flex-direction: row;
  border: 1px solid green;
}
.nav-list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
}
.nav-elem {
  position: relative;
  padding: 0 5px;
  text-decoration: none;
  font-size: 20px;
  font-weight: 300;
  line-height: 50px;
  color: #fff;
}
.nav-elem > a {
  font-family: "Syne";
  text-decoration: none;
  text-underline-offset: 5px;
  padding: 0 5px;
  font-size: 2rem;
  white-space: nowrap;
  letter-spacing: 0.1em;
  cursor: pointer;
  color: rgb(97, 97, 97);
}
.nav-elem > a:hover {
  color: rgb(97, 97, 97);
}
.nav-elem > a::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: rgb(97, 97, 97);
  transform: scaleX(0);
  transition: transform 0.3s ease;
}
a:hover::before {
  transform: scaleX(1);
}
.main {
  padding: 0;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(210, 220, 236);
  border: 1px solid turquoise;
}
.main-total {
  display: flex;
  flex-grow: 1;
  gap: 0.2em;
  align-content: space-between;
  justify-content: center;
  padding: 0;
  width: 1140px;
}
.section {
  display: flex;
  flex-direction: column;
  gap: 0.2em;
  flex: 1;
  justify-content: center;
  align-content: center;
  border: 1px solid green;
}
.section-about {
  display: flex;
  width: 1140px;
  gap: 2rem;
  justify-content: flex-start;
  height: 200px;
}
.section-about-bio {
  display: flex;
  align-items: center;
  gap: 1rem;

  border: 1px solid blue;
}
.section-about-bio > * {
  flex: 1;
  border: 1px solid blue;
  border-radius: 7%;
}
.section-profile-logo {
  display: block;
  width: 200px;
  height: 200px;
  /* margin-left: 100px; */
  border-radius: 9%;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.6);
  filter: grayscale(0.2) brightness(1.05);
  transition: 0.3s;
}

.section-profile-logo:hover {
  filter: none;
}
.section-profile-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: center;
  text-transform: uppercase;
}
.main-one {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  align-content: center;
  justify-content: center;
  border: 1px solid green;
  border-radius: 2%;
  background: rebeccapurple;
}
.main-two {
  display: flex;
  flex-wrap: wrap;
  background: brown;
  flex: 1;
  justify-content: center;
  align-content: center;
  border: 1px solid green;
  border-radius: 2%;
}
.footer {
  height: 30px;
  background: linear-gradient(50deg, rgb(204, 255, 255), rgb(5, 122, 200));
  justify-content: space-evenly;
  align-items: center;
  /* border: 1px solid turquoise; */
}
.list {
  font-family: "Syne";
  letter-spacing: 0.1em;
  color: rgb(97, 97, 97);
}
.list h2 {
  font-weight: 700;
  margin-bottom: 10px;
}
.list ul li {
  position: relative;
  left: 0;
  list-style: none;
  margin: 10px 0;
}
.list ul li:hover {
  left: 10px;
}
.footer-data {
  /* display: flex; */
  flex: 1;
}
.link {
  text-decoration: none;
  color: #0074d9;
}
.school {
  display: flex;
  /* font-size: 100px; */
  margin-left: 50%;
  height: 60px;
  background-image: url("./assets/svg/logo_rs2.svg");
  background-repeat: no-repeat;
  background-size: contain;
}
